@{
    ViewBag.Title = "About Daraz";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    Daraz is a Chinese-owned online marketplace and logistics company which operates in South Asian markets.

    It was founded in 2012 by a German venture capital company, Rocket Internet. Daraz Group operates e-commerce platforms and logistics services in Pakistan, Bangladesh, Nepal, Sri Lanka, and Myanmar.

    In May 2018, Daraz Group was acquired by the Chinese e-commerce company Alibaba Group.
</p>
