@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Address: Kamal Ataturk Avenue, Banani, Dhaka-1213 Dhaka, Bangladesh.
    <br />
    Status‎: ‎Today 9:00 AM - 11:00 PM
    
</address>

<address>
    <strong>Support:</strong>   <a href="‎customer.care@daraz.com.bd">Support@example.com</a><br />
    
</address>